@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-1 {
    font-size: 24px;
    line-height: 26.11px;
    font-weight: 700;
  }

  .heading-2 {
    font-size: 20px;
    line-height: 21.76px;
    font-weight: 700;
  }

  .heading-3 {
    font-size: 16px;
    line-height: 17.41px;
    font-weight: 700;
  }

  .heading-4 {
    font-size: 14px;
    line-height: 15.23px;
    font-weight: 700;
  }

  .button-small {
    font-size: 14px;
    line-height: 15.23px;
    font-weight: 700;
  }

  .button-large {
    font-size: 16px;
    line-height: 17.41px;
    font-weight: 700;
  }

  .button-underline {
    font-size: 16px;
    line-height: 17.41px;
    font-weight: 600;
    text-decoration: underline;
  }

  .text-small {
    font-size: 12px;
    font-weight: 500;
    line-height: 13.06px;
  }

  .text-large {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }

  .text-error {
    font-size: 15px;
    font-weight: 400;
    line-height: 21.09px;
    font-style: italic;
  }

  .auth-body {
    @apply bg-colorBlack text-white;
  }

  .user-body {
    @apply bg-colorWhite-var1 text-colorGrey-var1;
  }

  .sr-only {
    clip-path: inset(50%);
    block-size: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    inline-size: 1px;
  }

  @media screen and (max-width: 834px) {
    .text-large {
      font-size: 16px;
      line-height: 21px;
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
