.primaryButtonWrapper.green,
.primaryButtonWrapper.black,
.primaryButtonWrapper.darkGrey,
.primaryButtonWrapper.grey {
  transition: all 0.3s ease;
}

.primaryButtonWrapper.green:hover {
  @apply text-colorYellow bg-colorBlack;
}

.primaryButtonWrapper.black:hover {
  @apply text-colorGrey bg-colorYellow  border-colorGrey;
}

.primaryButtonWrapper.darkGrey:hover {
  @apply text-colorGrey bg-transparent;
}

.primaryButtonWrapper.grey:hover {
  @apply text-colorLightGrey bg-colorBlack;
}

.primaryButtonWrapper .button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
